

// custom fontsize
.fs-12px{
  font-size: 12px!important;
}
.fs-13px{
  font-size: 13px!important;
}
.fs-14px{
  font-size: 14px!important;
}
.fs-15px{
  font-size: 15px!important;
}
.fs-16px{
  font-size: 16px!important;
}

/* Custom CSS for datatable */
.dt-buttons {
  text-align: center;
  button{
    background-color: #dee2e633 !important;
    color: black;
    border: 1px solid #e4e6ef!important;
  }
}

.swal2-container {
  z-index: 9999 !important;
}

div.dataTables_wrapper div.dataTables_processing {
  color: #827175 !important;
  border: 1px solid;
  animation: wave 1s infinite;
}

@media screen and (max-width: 768px) {
  div.dataTables_wrapper div.dataTables_processing {
    left: 40%;
  }
}

@media screen and (max-width: 512px) {
  div.dataTables_wrapper div.dataTables_processing {
    left: 38%;
  }
}

@media screen and (max-width: 414px) {
  div.dataTables_wrapper div.dataTables_processing {
    left: 35%;
  }
}

/* CSS to make DataTable columns full-width on mobile */
.dataTable .dtr-details {
  width: 100% !important;
}

.dataTable td.dt-body-center {
  text-align: center;
}

.election-datatable {
  thead {
    tr {
      background-color: #dee2e633 !important;

      th {
        background-color: #dee2e633 !important;
        // border-left-width: 1px !important;
        padding: 12px !important;
        &:last-child{
          border-right-width: 1px;
        }
      }
    }
  }

  tr {
    td {
      padding: 12px !important;
      // border-left-width: 1px !important;
      // border-bottom-width: 1px !important;
    }
  }

  tbody tr:last-child td,
  tbody tr:last-child th,
  tfoot tr:last-child td,
  tfoot tr:last-child th {
    border-bottom-width: 1px !important;
    // border-bottom: 1px solid #dee2e633;
  }
}

.paginate_button {
  padding: 0.5rem 0.75rem;
  margin: 0 0.25rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #1E1E2D;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
}

.paginate_button:hover {
  background-color: #1E1E2D;
  color: #fff;
}

.paginate_button.current {
  background-color: #1E1E2D;
  color: #fff;
}

.dataTables_filter input {
  border: 1px solid #e4e6ef;
}

.dataTables_filter .input-group{
  flex-wrap: nowrap!important;
}

.dataTables_filter input[type='search']{
  width: 100%!important;
}
/* End of custom CSS for datatable */

/* Custom CSS for pagination */
.post-pagination, .event-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    a{
        color: green;
        text-decoration: none;
        font-style: normal;

        &:hover {
          background-color: #45a049!important;
          color:#fff!important;
        }
    }
    svg {
      width: 20px;
    }
    nav {
      div.flex-1.sm\:hidden {
        display: none;
      }
    } 
}
/* end of pagination */
.form-control {
  display: block!important;
  width: 100%!important;
  padding: .75rem 1rem!important;
  font-weight: 500!important;
  line-height: 1.5!important;
  color: #181c32!important;
  background-color: #fff!important;
  background-clip: padding-box!important;
  border: 1px solid #e4e6ef!important;
  border-radius: .475rem!important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out!important;
}
input,
input::placeholder {
  font-size: 13px;
  color: rgba(180, 180, 180, 1)!important;
}
// socials

.publish-title{
    color: #000000ad;
    font-size: 14px;
}
.author-name{
    font-size: 17px;
}
#social-links ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
#social-links ul li{
    margin-left: 8px;
}
#social-links ul li a svg{
    font-size: 20px;
}
.fa-whatsapp{
    color: green;
}
.fa-twitter{
    color: #1C96E8;
}
.fa-linkedin{
    color: #0073B1;
}