* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--orange-light);
  position: relative;
}
:root {
  --white: #fff;
  --primary: #056F3B;
  --secondary: #F99E1F;
  --orange-light: #f99e1f1a;
  --black: #212529;
  --green-light: #056f3b29;
  --primary-light: #BDFFDF;
  --border-color: #6460aa3d;
  --light: #D7E8E0;
  --paragraph-color: #4B4E51;
  --gray: #F2F9F5;
}
h1,h2,h3 {
  font-family: "Raleway", sans-serif;
}
h4,h5,h6 {
  font-family: 'Avenir', sans-serif;                                             
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 34px;
  line-height: 36px;
}

p,span {
  font-size: 16px;
  font-family: "Fredoka", sans-serif;
  line-height: 20px;
  color: var(--paragraph-color);
}
a { 
  font-family: "Fredoka", sans-serif;
}
.ct-btn {
  display: inline-block;
  text-align: center;
  padding: 8px 30px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 15px;
  font-family: "Fredoka", sans-serif;
  border: none;
}
.btn-yellow {
  color: var(--white);
  background-color: var(--secondary);
}
.section-title {
  font-weight: 700;
  text-transform: uppercase;
}
.sub-title {
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary);
}
.text-orange {
  color: var(--secondary);
}
.text-gray {
  color: rgba(204, 204, 204, 1) !important;
}
.ptb-70 {
  padding: 70px 0;
}
.pt-70 {
  padding-top: 70px;
}
.pb-70 {
  padding-bottom: 70px;
}
.ptb-50 {
  padding: 50px 0;
}
/* Topbar Design Start Here  */
.top-bar {
  border-bottom: 1px solid var(--green-light);
}
.bg-gray {
  background-color: var(--gray);
}
.bg-green {
  background-color: var(--primary);
}
.topbar-info a {
  font-size: 15px;
  color: var(--black);
}
.topbar-info :is(.mail, .phone) img {
  height: 22px;
  width: 22px;
  object-fit: contain;
}
.mail {
  border-right: 2px solid var(--secondary);
}
.topbar-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.topbar-social ul li a {
  font-size: 15px;
  color: var(--secondary);
  margin-left: 10px;
}
/* Topbar Design End Here  */
/* Navbar Design Start Here  */
.header {
  transition: all .6s ease-in-out;
}
.header .navbar .navbar-brand img {
  width: 190px !important;
  height: 40px !important;
  object-fit: contain;
}
.header .navbar .navbar-nav .nav-item .nav-link {
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0 12px;
  color: var(--black);
  line-height: 14px;
}
.header .navbar .navbar-nav .nav-item .nav-link span {
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  line-height: 0;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover span {
  color: var(--secondary);
}
.header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--secondary);
}
.header .navbar .navbar-nav .nav-item .nav-link:active {
  color: var(--secondary);
}
.header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
}
.header .navbar .navbar-nav .dropdown-item.active, .header .navbar .navbar-nav .dropdown-item {
  font-family: 'Avenir', sans-serif;
  font-size: 15px;
}
.header .navbar .navbar-nav .dropdown-item.active, .header .navbar .navbar-nav .dropdown-item:active {
  color: var(--black);
  text-decoration: none;
  background-color: var(--secondary);
}
.dropdown-toggle::after {
  display: none;
}
.header .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle {
  display: flex;
  align-items: center;
}
.header .navbar .navbar-nav .nav-item .nav-link.dropdown-toggle svg{
  font-size: 15px;
}
.header .navbar .navbar-btn .btn {
  padding: 4px 10px !important;
}
.header.sticky {
  position: fixed;
  top: -42px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* Navbar Design End Here  */
/* Scroll to top  start */
.scroll-to-top  {
  position: fixed;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
  display: none;
  z-index: 9999;
}
.scroll-to-top span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  font-size: 16px;
  padding: 5px;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 5px;
  transition: .4s ease-in-out;
}
.scroll-to-top span:hover {
  transform: translateY(-10px);
}
/* Scroll to top  end */
/* Hero Section Design Start Here  */
.hero-section {
  background-color: var(--light);
}
.hero-left h1 {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 700;
}

.hero-left h1 {
  font-size: 45px;
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 700;
}
.hero-right img {
  width: 100%;
  height: auto;
}
.hero-slider {
  position: relative;
}
.owl-dots {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
.hero-slider .owl-dots .owl-dot.active span{
  background-color: var(--secondary);
}
.hero-slider .owl-dots .owl-dot.active span, .hero-slider .owl-dots .owl-dot:hover span {
  background-color: var(--secondary);
}
/* Hero Section Design End Here  */
/* About Us Section Design Start Here  */
.about-us-section {
  padding-top: 80px;
  position: relative;
  z-index: 222;
}
.about-us-section .about-text h4 {
  font-size: 20px;
  padding: 10px 0;
  font-weight: 600;
}
.fx1 {
  background-image: url('../images/fx-bg1.png');
}
.fx2 {
  background-image: url('../images/fx-bg2.png');
}
.fx3 {
  background-image: url('../images/fx-bg3.png');
}
.fx4 {
  background-image: url('../images/fx-bg4.png');
}
.fixtures .fixtures-item {
  position: relative;
  padding: 20px 40px 30px 40px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
.fixtures-item .fixture-icon {
  text-align: center;
  margin-top: -50px;
  padding-bottom: 30px;
}
.fixtures-item .fixture-icon img {

  background-color: var(--white);
  padding: 15px;
  height: 70px;
  width: 70px;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0px 4px 15px 12px rgba(200, 91, 91, 0.08);
}
.fixture-text span {
  font-weight: 500;
}
.fixture-text h3 {
  font-size: 28px;
  font-weight: 500;
}
/* About Us Section Design End Here  */
/* Members Section Design Start Here  */
.member-section {
  background-color: var(--gray);
  padding-top: 120px;
  padding-bottom: 70px;
  margin-top: -80px;
}
.member-count-area {
  margin-top: 60px;
  padding: 20px;
  background-color: var(--primary);
  border-radius: 8px;
}
.counter img {
  height: 70px;
  width: 70px;
  object-fit: contain;
}
.counter h3 {
  font-family: "Fredoka", sans-serif;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0;
}
.counter p {
  margin-bottom: 0;
}
.border-right {
  border-right: 1px solid #E7E7E7;
}

.member-section hr {
  border-top: 2px solid #3c3c3b33;
}
.member-section .members-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.member-section .members-logo .item {
  border-right: 2px solid #3c3c3b33;
  padding: 0 5px;
}
.member-section .members-logo .item img {
  width: 100%;
  height: 60px;
  object-fit: contain;
}
/* Members Section Design End Here  */
/* Event Section Design start Here  */
.single-big-event {
  box-shadow: 0px 4px 25px 15px rgba(5, 111, 59, 0.08);
}
.single-big-event .event-info {
  padding: 40px 20px 60px 20px;
  background-image: url('../images/event-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.event-info img {
  height: 40px;
  width: auto;
  object-fit: contain;
}
.event-info h4 {
  font-size: 22px;
  line-height: 27px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 70px 10px 0;

}
.single-event {
  background-color: var(--white);
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.mini-title {
 color: var(--secondary); 
 font-size: 16px;
}
.event-title {
  font-size: 25px;
  font-weight: 500;
}
.event-title a {
  text-decoration: none;
  color: var(--black);
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.event-date-time {
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}
.event-date-time img {
  height: 22px;
  width: 22px;
  object-fit: contain;
}
.event-date-time span {
  font-size: 15px;
  margin-bottom: -5px;
}
.event-item {
  background-color: var(--white);
  padding: 20px;
  border-radius: 5px;
}
.event-item .event-item-img {
  width: 100%;
}
.event-item-date {
  width: 100%;
  height: 100px;
  background-image: url('../images/event-item.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-event-date {
  padding: 0 !important;
}
.event-date-card {
  top: 32%;
  left: 50%;
  transform: translate(-50%, -5%);
}
.date-event {
  color: var(--secondary);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: -4px;
}
.date-month {
  color: var(--secondary);
  font-size: 15px;
}
/* Event Section Design end Here  */
/* Blog Section Design start Here  */
.blog-card {
  background-color: var(--white);
  transition: all.3s ease-in-out;
}
.blog-card:hover {
  box-shadow: 0px 4px 25px 15px rgba(5, 111, 59, 0.08);
}
.blog-card .blog-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.blog-card .blog-img img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.blog-card .blog-content {
  padding: 20px;
  background-color: var(--white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.blog-content .blog-title {
  font-size: 25px;
}
.blog-content .blog-title a {
  text-decoration: none;
  color: var(--black);
}
.blog-publice {
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}
.blog-publice img {
  height: 22px;
  width: 22px;
  object-fit: contain;
}
.blog-publice span {
  font-size: 15px;
  margin-bottom: -5px;
}
.blog-date-admin {
  display: block;
  line-height: 24px;
}
/* Blog Section Design end Here  */
/* Gallery Section Design start Here  */
.gallery-card {
  background-color: var(--white);
  transition: all.3s ease-in-out;
}
.gallery-card:hover {
  box-shadow: 0px 4px 25px 15px rgba(5, 111, 59, 0.08);
}
.gallery-card .gallery-img {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.gallery-card .gallery-img img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.gallery-card .blog-content {
  padding: 20px;
  background-color: var(--white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.gallery-img a:first-child {
  position: relative;
  z-index: 555;
}
.gallery-img a:nth-last-child(2n) {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: rotate(-14deg);
  z-index: 222;
}
.gallery-img a:last-child {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: rotate(-7deg);
  z-index: 333;
}
/* Gallery Section Design end Here  */
/* Video Gallery Section Design start Here  */
.video-gallery .blog-publice img {
  height: 22px;
  width: 22px;
  object-fit: contain;
}
.video-gallery .slick-slide {
  padding: 100px 0;
  transition: all .3s ease-in-out;
}

.video-slider .slick-slide.slick-current.slick-active.slick-center {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  position: relative;
  z-index: 9999;
  box-shadow: 0px 41px 48px 12px #fff;
}
.video-slider .blog-card:hover {
  box-shadow: none;
}
/* Video Gallery Section Design end Here  */
/* Page Title Section Design start Here  */
.page-title-section {
  padding: 30px 0px;
  background-image: url('../images/page-title.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-title-section .page-title-area {
  position: relative;
}
.page-title-section .page-title {
  padding: 20px 20px 35px 20px;
  background-color: var(--secondary);
  margin: 0 15px;
}
.page-title-section .page-title  h2 {
  background-color: var(--secondary);
  font-size: 32px;
  line-height: 38px;
  color: var(--white);
  width: 80%;
  padding-top: 10px;
  margin: -15px auto 0 auto;
  z-index: 999;
  position: relative;
}
.page-border {
  position: absolute;
  border: 3px solid var(--white);
  width: 100%;
  left: 0;
  right: 0;
  top: 10px;
}
.page-border .top-bottom-img {
  padding: 30px 0;
  position: relative;
}
.page-top-right {
  position: absolute;
  top: -22px;
  right: -30px;
  height: 25px;
  width: 25px;
  object-fit: contain;
}
.page-bottom-left {
  position: absolute;
  bottom: -22px;
  left: -30px;
  right: -30px;
  height: 25px;
  width: 25px;
  object-fit: contain;
}
/* Page Title Section Design end Here  */
/* Partners Section Design start Here  */
.partners {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 10px;
}
.partners .partner {
  text-align: center;
  padding: 18px 25px;
  border: 1px solid #CED3D0;
}
.partners .partner img {
  filter: grayscale(100%);
  height: 170px;
  width: 170px;
  margin: 0 auto;
  object-fit: contain;
  transition: all .3s ease-in-out;
}
.partners .partner:hover img {
  filter: grayscale(0%);
}
.partner-btn {
  text-align: center;
  text-decoration: none;
  font-family: "Fredoka", sans-serif;
  font-size: 15px;
  display: block;
  color: var(--white);
  background-color: var(--secondary);
  padding: 5px 10px;
  border-radius: 5px;
  visibility: hidden;
  transition: all .2s ease-in-out;
}
.partners .partner:hover .partner-btn {
  visibility: visible;
}
/* Partners Section Design end Here  */
/* Member Profile Design start Here  */
.members-profile-content {
  padding-top: 40px;
}
.members-profile-image {
  padding: 30px;
  background-color: var(--white);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.members-profile-image img {
  height: 120px;
  width: 150px;
  object-fit: contain;
}
.members-profile-image span {
  text-align: left;
  font-size: 15px;
}
.profile-content h4 {
  font-size: 20px;
  padding: 10px 0;
  font-weight: 500;
}
.profile-content p {
  color: var(--white);
}
.mission-vission-area {
  padding-bottom: 40px;
}
.member-single-info {
  background-color: #F2F9F5;
  padding: 30px;
  box-shadow: 0px 4px 15px 12px rgba(5, 111, 59, 0.08);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.member-single-info p {
  margin-bottom: 1px;
}
.profile-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  height: 30px;
  width: 30px;
  font-size: 15px;  
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 5px;
  margin-right: 8px;
  transition: all .3s ease-in-out;
}
.profile-social a:hover {
  transform: scale(1.2) rotate(15deg);
}
/* Member Profile Design end Here  */
/* Mission Vision Design start Here  */
.mision-vision-card {
  background-color: var(--white);
}
.mission {
  background-image: url('../images/mision.png');
}
.vision {
  background-image: url('../images/vision-bg.png');
}
.values {
  background-image: url('../images/values-bg.png');
}
.msv-title {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 20px;
}
.msv-title h4 {
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.mission h4 {
  color: #6AA9D7;
}
.vision h4 {
  color: #52CC8F;
}
.values h4 {
  color: #EFBC74;
}
.msv-title img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.msv-content {
  padding: 20px;
}
.msv-content ul {
  margin: 0;
  padding: 0;
  list-style: circle !important;
}
.msv-content ul {
  list-style: circle !important;
}
.msv-content ul li {
  display: flex;
  align-items: center;
}
.msv-content ul li svg {
  font-size: 15px;
  margin-right: 5px;
}
/* Mission Vision Design end Here  */
/* Work & History Design start Here  */
.work-history h3 {
  font-size: 24px;
}
/* Work & History Design end Here  */
/* Member Register Design start Here  */
.register-card {
  padding: 40px 30px 30px 30px;
  background-color: var(--white);
  border-radius: 5px;
}
.submit-btn {
  text-decoration: none;
  border: none;
  font-size: 15px;
  color: var(--white);
  background-color: var(--secondary);
  padding: 8px 70px;
  border-radius: 5px;
}
body :is(input[type="text"],select,input[type="email"],input[type="password"],input[type="file"]) {
  background-color: #F4F0E9;
  border: 1px solid #F4F0E9 !important;
}
.form-select {
  font-size: 15px;
  padding: 8px 10px !important;
}
.form-control {
  font-size: 15px;
  padding: 8px 10px !important;
}
.form-label {
  font-size: 15px;
  font-weight: 500;
}
.form-title {
  font-size: 22px;
  font-weight: 600;
}
.details-border {
  border-right: 1px solid #CED3D0;
}
/* Member Register Design end Here  */
/* FAQ Design start Here  */
.faq-section .tab-content h3 {
    font-size: 24px;
}
.faq-card {
  width: 100%;
}
.faq-items {
  display: block !important;
  padding: 20px;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 4px 25px 15px rgba(5, 111, 59, 0.08);
}
.faq-items .nav-link {
  width: 100%;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: var(--black) !important;
  font-weight: 500;
  padding: 10px 8px;
  border-bottom: 1px solid rgba(206, 211, 208, 1);
}
.faq-items .nav-link.active, .faq-items .show>.nav-link {
  background-color: rgba(217, 217, 217, 0.4) !important;
  border-radius: 0px !important;
}
.faq-items .nav-link:hover {
  background-color: rgba(217, 217, 217, 0.4) !important;
  border-radius: 0px !important;
}
.faq-content {
  padding-left: 20px;
}
/* FAQ Design end Here  */
/* Pagination Design start Here  */
.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
}
.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  grid-gap: 8px;
}
.pagination ul li a { 
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
  line-height: 15px;
  color: var(--black);
  padding: 10px 15px;
  background-color: var(--white);
  border: 1px solid rgba(241, 241, 241, 1);
  border-radius: 8px;
  transition: .4s ease-in-out;
}

.pagination ul li a:hover {
  background-color: #EDECDD;
}
.pagination ul li a.active {
  background-color: var(--primary);
  color: var(--white);
}
/* Pagination Design end Here  */
/* Single Post Page Design start Here  */
.single-post-title {
  font-size: 30px;
}
.blog-sidebar .sidebar-title {
  font-size: 22px;
  font-weight: 600;
}
.blog-sidebar .latest-post img {
  height: 70px;
  width: 80px;
  object-fit: cover;
}
.blog-sidebar .latest-post h5{
  font-size: 16px;
  margin-bottom: 2px;
}
.blog-sidebar .latest-post h5 a {
  text-decoration: none;
  color: var(--black);
}
.blog-sidebar .latest-post h5 a:hover {
  color: var(--primary);
}
.blog-sidebar .latest-post span {
  font-size: 14px;
}
/* Single Post Page Design end Here  */
/* Contact Page Design end Here  */
.contact-us-area .contact-form .form-control {
  background-color: rgba(244, 240, 233, 1) !important;
  border: 1px solid rgba(244, 240, 233, 1) !important;
}
.contact-form h2 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
}
.contact-info .contact-details .icon {
  height: 50px;
  width: 50px;
  color: var(--white);
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
}
.contact-info .contact-details .icon svg {
  font-size: 16px;
}
.contact-details h6 {
  font-size: 16px;
  margin-bottom: 3px;
  font-weight: 600;
}
.contact-details :is(a,p) {
  text-decoration: none;
  margin-bottom: 0;
  color: var(--black);
  font-size: 16px;
}
/* Contact Page Design end Here  */
/* Photo Gallery Design start Here  */
.photo-content .photo-title {
  font-size: 30px;
  font-weight: 600;
}
.photo-gallery .ug-thumb-wrapper.ug-tile.ug-tile-clickable{
  background-color: transparent !important;
}
.photo-gallery .ug-textpanel.ug-trans-enabled {
  height: 5px !important;
}
.photo-gallery .ug-gallery-wrapper .ug-textpanel-bg {
  background-color: transparent !important;
  height: 5px !important;
}
.photo-gallery .ug-textpanel-textwrapper.ug-trans-enabled {
  height: 5px !important;
}
.photo-gallery .ug-thumb-wrapper .ug-thumb-overlay {
  height: 100% !important;
}
.photo-gallery .ug-thumb-wrapper.ug-tile img.ug-thumb-image {
  height: 100% !important;
}
/* Photo Gallery Design end Here  */
/* Modal Design start Here  */
.modal-body iframe {
  width: 100%;
  height: 430px;
}
/* Modal Design end Here  */
/* Profile Edit Page design start  */
.edit-profile-img .preview-img {
  position: relative;
  height: 120px;
  width: 150px;
  margin: 0 auto;
  border: 2px solid var(--green-light);
  padding: 8px;
  border-radius: 5px;
}
.edit-profile-img .preview-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#upload-icon {
  position: absolute;
  bottom: -8px;
  right: -8px;
  font-size: 13px;
  padding: 8px;
  color: var(--primary);
  background-color: var(--light);
  border-radius: 50px;
  cursor: pointer;
}
.nav-pills .all-profile-tabs  .nav-link.active, .nav-pills .all-profile-tabs .show>.nav-link {
  color: var(--white) !important;
  background-color: var(--secondary) !important;
}
.all-profile-tabs .nav-link {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: var(--black) !important;
  margin-bottom: 2px;
}
.all-profile-tabs .nav-link:focus, .all-profile-tabs .nav-link:hover {
  background-color: var(--orange-light);
}
/* Profile Edit Page design end  */
/* Search Filter Design start  */
.filter-arrow {
  padding: 12px 5px;
  border-radius: 4px;
  background-color: var(--white);
}
.cw-1 {
  width: 5%;
}
.cw-2 {
  width: 90%;
}
.cw-3 {
  width: 5%;
}

.filter-toggle1,
.filter-toggle2 {
  background-color: var(--green-light);
  padding: 10px 12px;
  border-radius: 4px;
}
.filter-toggle2 .fa-xmark {
  display: none;
}
.filter-box{
  display: none;
  /* overflow: hidden; */
}
.search-group {
  background-color: var(--primary);
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
}
.search-group svg {
  position: absolute;
  left: 20px;
  top: 17px;
  color: #fff;
}
.search-group input[type="submit"] {
  position: absolute;
  right: 10px;
  top: 7px;
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: #fff;
  padding: 4px 15px 5px 15px;
  border-radius: 50px;
}
.search-group input[type="text"] {
  cursor: pointer;
  background-color: transparent !important;
  border: none !important;
  color: #fff !important;
  padding: 5px 55px 5px 25px !important;
}
.search-group input[type="text"]::placeholder {
  color: #fff !important;
}
.search-group input[type="text"]:focus {
  box-shadow: none !important;
}
.search-filter select {
  background-color: var(--green-light) !important;
  border: 1px solid var(--green-light) !important;
}

/* Search Filter Design end  */
/* Footer Design Start Here  */
.footer {
  padding: 50px 0 5px 0;
  background-color: var(--primary-light);
}
.footer-top-area {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}
.footer-info {
  padding-right: 70px;
}
.footer .footer-social nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  height: 30px;
  width: 30px;
  font-size: 15px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin-right: 8px;
  transition: all .3s ease-in-out;
}
.footer .footer-social nav a:hover {
  color: var(--white);
  background-color: var(--primary);
  transform: scale(1.2);
}
.footer-info p {
  color: #515458;
  font-size: 15px;
}
.footer-top-area .footer-menu-title {
  font-size: 18px;
  font-weight: 500;
}
.footer-menu ul {
  margin: 0;
  padding: 0;
}
.footer-menu ul li a {
  display: block;
  padding: 3px 0;
  color: #515458;
  font-size: 15px;
  font-family: 'Avenir', sans-serif;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: var(--secondary);
}
.copyright-area p {
  color: var(--black);
}
.copyright-area a {
  text-decoration: none;
  color: var(--black);
  transition: all .2s ease-in-out;
}
.copyright-area a:hover {
  color: var(--secondary);
}
/* Footer Design End Here  */

/* Media Quaries  */
@media screen and (max-width: 1366px) {
  .single-big-event .event-info {
    padding: 40px 20px 42px 20px;
  }
  .partners .partner img {
    height: 150px;
    width: 150px;
  }
}
@media screen and (max-width: 1024px) {
  .partners {
    grid-template-columns: repeat(4,1fr);
  }
}
@media screen and (max-width: 992px) {
  .section-title {
    text-align: center;
  }
  .sub-title {
    text-align: center;
  }
  .profile-content .section-title {
    text-align: left !important;
  }
  .header .navbar-collapse .nav-item .nav-link{
    padding: 8px !important;
  }
  .modal-body iframe {
    width: 100%;
    height: 260px;
  }
  .cw-1 {
    width: 9%;
  }
  .cw-2 {
    width: 82%;
  }
  .cw-3 {
    width: 9%;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px !important;
    line-height: 37px;
  }
  h2 {
    font-size: 25px !important;
    line-height: 28px;
  }
  .ptb-70 {
    padding: 40px 0px;
  }
  .top-bar {
    display: none;
  }
  .footer-info {
    text-align: center;
    padding-right: 0px;
  }
  .footer-info .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fixture-text h3 {
    font-size: 22px;
  }
  .mobile-border-none {
    border-right: none !important;
  }
  .member-section .members-logo .item img {
    height: 50px;
  }
  .member-section {
    padding-bottom: 30px;
  }
  .single-big-event .event-info {
    padding: 40px 20px 30px 20px;
  }
  .blog-content .blog-title {
    font-size: 20px;
  }
  .blog-card .blog-content {
    padding: 15px;
  }
  .gallery-card .blog-content {
    padding: 15px;
  }
  .blog-publice img {
    height: 18px;
    width: 18px;
    object-fit: contain;
  }
  .blog-publice span {
    font-size: 12px;
    margin-bottom: -5px;
  }
  .blog-date-admin {
    line-height: 15px;
  }
  .blog-publice .row .col-6 {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  .p-mobile {
    padding: 0 32px;
  }
  .partners {
    grid-template-columns: repeat(3,1fr);
  }
  .members-profile-image {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .register-card {
    padding: 25px 15px 20px 15px;
  }
  .faq-content {
    padding-left: 0px;
  }
  .header.sticky {
    top: 0px !important;
  }
  .single-blog-details p {
    text-align: justify;
  }
  .photo-content .photo-title {
    text-align: center;
  }
  .photo-content .photo-desc p {
    text-align: justify;
  }
  .all-profile-tabs {
    flex-direction: row !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    justify-content: space-between;
  }
  .all-profile-tabs .nav-link {
    font-size: 15px;
    padding: 8px;
  }
}

@media screen and (max-width: 480px) {
  .fixtures .fixtures-item {
    padding: 20px 30px 20px 30px;
  }
  .page-title-section .page-title {
    padding: 20px 0px 35px 0px;
    background-color: var(--secondary);
    margin: 0 15px;
  }
  .page-title-section .page-title  h2 {
    font-size: 20px !important;
    line-height: 22px !important;
    padding-top: 25px;
    margin: -15px auto 0 auto;
  }
  .partners {
    grid-template-columns: repeat(2,1fr);
  }
  .partners .partner {
    padding: 10px;
  }
  .work-history h3 {
    text-align: center;
  }
  .msv-content p,
  .work-history p {
    text-align: justify;
  }
  .faq-section .tab-content h3 {
    text-align: center;
  }
  .faq-section .tab-content p {
    text-align: justify;
  }
  .pagination ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .video-gallery .slick-slide {
    padding: 40px 0;
  }
  .video-slider .slick-slide.slick-current.slick-active.slick-center {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  .gallery-img a:first-child {
    position: relative;
    z-index: 555;
  }
  .gallery-img a:nth-last-child(2n) {

    transform: rotate(-10deg);
  }
  .gallery-img a:last-child {

    transform: rotate(-3deg);
  }
  .partners .partner img {
    height: 135px;
    width: 135px;
  }
  .cw-1 {
    width: 12%;
  }
  .cw-2 {
    width: 70%;
  }
  .cw-3 {
    width: 12%;
  }
}


